        <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %>
        <% const d = new Date(); %>
        <% let Monthname = month[d.getMonth()]; %>
        <% const date = new Date().getFullYear(); %>
      <p>All Rights Reserved © <%= date %> <%= Monthname %></p>
    </footer>
  </div>
</body>
</html>