<%- include('partials/header') %>

<section class="profile-section">
  <div class="container profile-grid" data-aos="fade-left" data-aos-delay="300">
    <div class="profile-left" data-aos="zoom-in" data-aos-delay="200">
      <img src="/images/Profile1.jpg" style="border-radius: 50%;" alt="Muhammad Ulinnuha" class="profile-img" />
      <h3>Joice Massie</h3>
      <p class="subtitle">Founder Joice LawFirm</p>
    </div>
    <div class="profile-right">
      <h2>About Me</h2>
      <hr class="title-underline">
      <p>
        Joice Massie adalah Advokat/Konsultan Hukum yang telah berpengalaman menangani sengketa hukum bidang Perdata dan Pidana, baik kasus-kasus perdata dan pidana umum maupun kasus-kasus perdata dan pidana khusus.
      </p>
      <p>
        Selain sebagai Advokat/Konsultan Hukum, Joice Massie merupakan
      </p>
    </div>
  </div>
</section>

<section class="contact-info-section">
  <div class="container">
    <h2>Hubungi Kami</h2>
    <hr class="title-underline">
    <div class="contact-info-grid">
      <div data-aos="flip-left" data-aos-delay="100">
        <h4>Alamat</h4>
        <p>Indonesia Raya</p>
      </div>
      <div data-aos="flip-left" data-aos-delay="200">
        <h4>Telepon</h4>
        <p>+62 85778417954</p>
      </div>
      <div data-aos="flip-left" data-aos-delay="300">
        <h4>Email</h4>
        <p>massiejoice01@gmail.com</p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
