<%- include('partials/header') %>

    <main class="main-content" >
      <h1 data-aos="zoom-in" data-aos-delay="200"><%= quotes %></h1>
      <p data-aos="fade-in" data-aos-delay="300">At Joice LawFirm, we combine deep legal expertise with unwavering integrity to deliver tailored solutions for your unique needs. With us, you get clear guidance and committed representation every step of the way.</p>
      <a href="/features" class="btn">Learn more</a>
    </main>

<%- include('partials/footer') %>