<%- include('partials/header') %>

    <section class="main-content" >
      <h1 data-aos="zoom-in" data-aos-delay="200"><%= quotes %></h1>
      <p data-aos="fade-in" data-aos-delay="300">At Joice LawFirm, we combine deep legal expertise with unwavering integrity to deliver tailored solutions for your unique needs. With us, you get clear guidance and committed representation every step of the way.</p>
      <a href="/features" class="btn">Learn more</a>
    </section>

<section class="company-profile">
  <div class="container profile-grid" data-aos="fade-left" data-aos-delay="300">
    <div class="company-description">
      <h2>About Us</h2>
      <hr class="title-underline">
      <p>
        With dedicated and experienced consultant 
      </p>
      <p>
        Selain sebagai Advokat/Konsultan Hukum, Joice Massie merupakan
      </p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>