
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}

body, p, a, li {
  font-family: 'Lato', sans-serif;
}

body, html {
  cursor: url('/images/cursor3.png'), auto;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1b1f23;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
}



a {
  color: #ffffff;
  text-decoration: none;
}


.cover-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  
  background-color: #1e2125;
  color: white;
  padding: 1rem 2rem;
  border-bottom: 4px solid #e4b35d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
  /* background-image: url('/images/pattern1.jpg'); */
  /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav-links a {
  font-weight: 500;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
  opacity: 1;
  border-bottom: 2px solid white;
}


.main-content {
  background-image: url('/images/lawyer3.jpg');
  background-size: cover;
  height: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

/* .main-content::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
  border-radius: 12px;
  filter: brightness(0.4) blur(2px);
} */

.main-content h1 {
  
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main-content p {
  max-width: 600px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  /* opacity: 0.8; */
  text-align: center;
  padding: 0 1rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.5);
}



.company-profile {
  padding: 8rem 4rem;
  background-color: antiquewhite;
  /* background-image:linear-gradient(to right, rgba(255, 255, 255, 0.336),rgba(255, 255, 255, 0),rgba(206, 206, 206, 0.356)  80%), url('/images/lawyer4.jpg'); */
  background-size: cover;
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  
}


.company-description {
  flex: 2 1 500px;
  text-align: right;
  font-weight: 700;
}

.company-description h2 {
  color: #1b1f23;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.company-description p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #333;
}



.btn {
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s ease;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn:hover {
  background-color: #ddd;
  color: chocolate;
}


.footer {
  /* text-align: center;
  padding: 0.5rem;
  font-size: 0.85rem;;
  opacity: 0.7; */

  position: relative;
  /* width: 100%; */
  /* height: 100vh; */
  /* background: #292929; */
  min-height: 70px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}



.features-section {
  /* background-image:linear-gradient( rgba(255,255,255,0),rgba(255, 255, 255, 0.938),rgb(206, 206, 206)  ),
   url('/images/lawyer1.jpg'); */
  background-size: cover;
  padding: 4rem 2rem;
  /* background-color: #ffffff; */
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #ffffff;
}


.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.service-card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  padding: 2rem 1.5rem;
  width: 260px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 2.5rem;
  color: #b30000;
  margin-bottom: 1rem;
}

.service-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  color: #333;
  font-size: 0.9rem;
  text-align: left;
}


.service-card:hover .service-description {
  opacity: 1;
  max-height: 200px; 
  margin-top: 1rem;
}




.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;;

}


.advantage-item {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;

  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.advantage-item:hover {
  transform: translateY(-10px);
}



.advantage-item h3,
.service-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #b30000;
}


.advantage-item p, 
.advantage-item li {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.5;
}



.profile-section {
  padding: 4rem 2rem;
  background: #fefefe;
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.profile-left {
  flex: 1 1 300px;
  text-align: center;
}

.profile-img {
  width: 250px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.profile-left h3 {
  color: #1b1f23;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 0.9rem;
  color: gray;
}

.profile-right {
  flex: 2 1 500px;
}

.profile-right h2 {
  color: #1b1f23;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.title-underline {
  width: 60px;
  border: 2px solid orange;
  margin: 0.5rem 0 1.5rem;
}

.profile-right p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #333;
}



.contact-info-section {
  padding: 3rem 2rem;
  background-image:linear-gradient( rgba(255, 255, 255, 0.507),rgba(255, 255, 255, 0.295),rgba(206, 206, 206, 0.527)  ), url('/images/lawyer4.jpg');

  /* background-image:linear-gradient(rgba(206, 206, 206, 0.9), rgba(255,255,255,0),rgba(255,255,255,0)) ,url('/images/background2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.contact-info-section p {
    color: #ffffff;
    font-weight: 700;
}

.contact-info-section h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.contact-info-section h4 {
  margin-bottom: 0.3rem;
  color: black;
}



.team{
  background-color: #ddd;
}

.team-profile{
  width: 100px;
}

/* Medium dickus */
@media (max-width: 768px) {
  .main-content h1 {
    font-size: 2rem;
  }

  .main-content p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.95rem;
  }


}

/* Small dickus */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .main-content h1 {
    font-size: 1.6rem;
  }

  .main-content p {
    font-size: 0.95rem;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .footer {
    text-align: center;
    padding: 1rem 0.5rem;
  }
}
